<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="header">
    <div th:fragment="logo">
        <div style="width:200px;height:40px;border:1px solid #333;font-size:40px;line-height:40px;margin:0 auto;text-align:center;">LOGO</div>
    </div>
    <nav th:fragment="gnb">
        <ul>
            <li><a href="">Company</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Product</a></li>
            <li><a href="">Community</a></li>
        </ul>
    </nav>
</header>