<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using to Thymeleaf Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <!--<div th:insert="~{layout/header :: header}"></div>-->
    <div th:insert="~{layout/header :: logo}" id="logo"></div>
    <div th:insert="~{layout/header :: gnb}" id="gnb"></div>
</header>

<div class="contents" style="clear:both;width:100%;padding-top:100px;">
    <div class="splash-container" style="clear:both;padding:150px 40px 40px;">
        <h2 style="border-bottom:2px solid #333;" class="title">교재 등록</h2>
        <form class="pure-form pure-form-aligned" id="form" th:object="${book}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <table class="table">
                <tbody>
                <tr class="pure-control-group">
                    <th><label for="title">제목</label></th>
                    <td>
                        <input type="text" id="title" th:field="${book.title}" placeholder="제목을 입력하세요." />
                        <span class="err" th:if="${#fields.hasErrors('title')}" th:errors="${book.title}"></span>
                    </td>
                </tr>
                <tr class="pure-control-group">
                    <th><label for="creator">저자</label></th>
                    <td>
                        <input type="text" id="creator" th:field="${book.creator}" placeholder="저자를 입력하세요." />
                        <span class="err" th:if="${#fields.hasErrors('creator')}" th:errors="${book.creator}"></span>
                    </td>
                </tr>
                <tr class="pure-control-group">
                    <th><label for="publisher">출판사</label></th>
                    <td>
                        <input type="text" id="publisher" th:field="${book.publisher}" placeholder="출판사를 입력하세요." />
                        <span class="err" th:if="${#fields.hasErrors('publisher')}" th:errors="${book.publisher}"></span>
                    </td>
                </tr>
                <tr class="pure-control-group">
                    <th><label for="pubDate">출판일</label></th>
                    <td>
                        <input type="text" id="pubDate" th:field="${book.pubDate}" />
                        <span class="err" th:if="${#fields.hasErrors('pubDate')}" th:errors="${book.pubDate}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="button" onclick="inputData()">등록</button>
        </form>
    </div>
    <hr>
    <div class="splash-container" style="clear:both;padding:150px 40px 40px;">
        <h2 style="border-bottom:2px solid #333;" class="title">교재 목록</h2>
        <div class="list" id="list">
            <th:block th:if="${bookMap != null}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>연번</th>
                        <th>제목</th>
                        <th>저자</th>
                        <th>출판사</th>
                        <th>출판일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr th:each="entry : ${bookMap}" th:with="book=${entry.value}"> -->
                    <tr th:each="book : ${bookMap}">
                        <td th:text="${book.seq}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.creator}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.pubDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>

<footer>
    <div th:insert="~{layout/footer :: fnb}" id="fnb"></div>
    <div th:insert="~{layout/footer :: copy}" id="copy"></div>
</footer>
<script th:inline="javascript">
    function inputData() {
        let book = $("#form").serialize();
        $.ajax({
            url:"/ex/sample5",
            data:book,
            type:"POST",
            cache:false,
        }).done(function(fragment) {
            if($(fragment).find("#form").prevObject[0].length > 0) {
                $("#form").replaceWith(fragment);
            } else {
                $("#list").replaceWith(fragment);
                $("input[type=text]").val("");
                $(".err").text("");
            }
        });
    }
</script>
</body>
</html>