<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using to Thymeleaf Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
</head>
<body>

    <header>
        <!--<div th:insert="~{layout/header :: header}"></div>-->
        <div th:insert="~{layout/header :: logo}" id="logo"></div>
        <div th:insert="~{layout/header :: gnb}" id="gnb"></div>
    </header>

    <div class="content">
        <h2>샘플 페이지2</h2>
    </div>

    <footer>
        <div th:insert="~{layout/footer :: fnb}" id="fnb"></div>
        <div th:insert="~{layout/footer :: copy}" id="copy"></div>
    </footer>
</body>
</html>